{{ "{" }}
  'agent_output_encoding': 'zlib_codec',
  'dirs': {{ "{" }}{{ "}" }},
  'execution_mode': (
    'agent_serial',
    {{ "{" }}
      'cache_time': {{ cache_time }},
      'execution_interval': {{ execution_interval }},
      'suites': [
        {%- for suite in robotmk_suites %}
        {{ "{" }}'path': '{{ suite }}'{{ "}" }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
      ]
    {{ "}" }}
  ),
'log_level': '{{ log_level }}',
'log_rotation': {{ log_rotation }},
'transmit_html': {{ transmit_html }}
{{ "}" }}
